{% extends "base.html" %} 

{% block title %} Sign Up {% endblock %} 

{% block styles %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">

{% endblock %}

{% block content %}

{{ super() }}

<div class="form-container">
    <div class="form-image">
        <img src="{{ url_for('static', filename='images/login.jpg')}}" alt="">
    </div>
    <div class="form">
        <form action="" method="POST">
    
            {{ signup_form.hidden_tag() }}
            
            <h1>Sign Up</h1>
        
            <div class="form-group">
                {{ signup_form.first_name.label(class="form-label") }}
                {{ signup_form.first_name(class="form-control") }}
            </div>
        
            <div class="form-group">
                {{ signup_form.last_name.label(class="form-label") }}
                {{ signup_form.last_name(class="form-control") }}
            </div>
        
            <div class="form-group">
                {{ signup_form.email.label(class="form-label") }}
                {{ signup_form.email(class="form-control") }}
            </div>
        
            <div class="form-group">
                {{ signup_form.password.label(class="form-label") }}
                {{ signup_form.password(class="form-control") }}
            </div>
        
            <div class="form-group">
                {{ signup_form.password2.label(class="form-label") }}
                {{ signup_form.password2(class="form-control") }}
            </div>
        
            <div>
                {{ signup_form.submit(class="form-submit") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}