<!-- add_book.html -->
{% extends 'base.html' %}

{% block styles %} 
  {{ super() }} 
  <link rel="stylesheet" href="{{url_for('static', filename='book.css')}}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h2>{{ form_heading }}</h2>

  <form method="POST" class="book-form">

    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    
    <div class="form-group">
      {{ form.title.label(class="form-label") }} 
      {{ form.title(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.author.label(class="form-label") }} 
      {{ form.author(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.publication_date.label(class="form-label") }} 
      {{ form.publication_date(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.isbn.label(class="form-label") }}
      {{ form.isbn(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.available_copies.label(class="form-label") }} 
      {{ form.available_copies(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.total_copies.label(class="form-label") }} 
      {{ form.total_copies(class="form-control") }}
    </div>
    
    <div class="form-group">
      <input type="submit" value="{{ submit_button_text }}" class="submit-button">
    </div>
  </form>
</div>
  
{% endblock %}
