{% extends 'base.html' %}

{% block styles %} {{ super() }} {% endblock %}

{% block content %}

{{ super() }}

  <div class="books-container">
      <div class="book-card">
        <img src="{{ url_for('static', filename='images/login.jpg')}}" alt="Book Cover">
        <div class="book-details">
          <h3>{{ book.title }}</h3>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
          <p><strong>ISBN:</strong> {{ book.isbn }}</p>
          <p><strong>Available Copies:</strong> {{ book.available_copies }}</p>
          <p><strong>Total Copies:</strong> {{ book.total_copies }}</p>
        

      <div class="button-container">
        {% if book %}
        <a href="{{ url_for('book.update_book', book_id=book.id) }}">
          <button class="update-button">Update</button>
        </a>
        <button class="delete-button" onclick="confirmDelete(' {{book.id}} ')">Delete</button>
        {% else %}
          <p>Book not found</p>
        {% endif %}
      </div>
  </div>
</div>
</div>

  <script>
    function confirmDelete(bookId) {
      if (confirm("Are you sure you want to delete this book?")) {
        window.location.href = "{{ url_for('book.delete_book', book_id=book.id) }}";
      }
    }
  </script>
{% endblock %}
