{% extends 'base.html' %}

{% import "_macros.html" as macros %}

{% block title %} View Books {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block content %}

{{ super() }}

  
  <div class="page-title">
    <h4>Books List</h4>
  </div>

  <div class="list-container">
    <form action="{{ url_for('book.view_books') }}" method="get">
      <input type="search" name="search_term" value="{{ request.args.get('search_term', '') }}" placeholder="Search Book">
      <input type="submit" value="Search">
    </form>
    <table class="list-table">
      <thead>
          <tr>
              <th>#</th>
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Publication Date</th>
              <th>ISBN</th>
              <th>Available Copies</th>
              <th>Total Copies</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for book in books %}
              <tr>
                <td>{{ book.id }}</td>
                  <td class="cover-cell"><img src="{{ url_for('static', filename='images/login.jpg') }}" alt="Book Cover"></td>
                  <td>{{ book.title|truncate(16) }}</td>
                  <td>{{ book.author|truncate(16) }}</td>
                  <td>{{ book.publication_date }}</td>
                  <td>{{ book.isbn }}</td>
                  <td>{{ book.available_copies }}</td>
                  <td>{{ book.total_copies }}</td>
                  <td class="actions">
                      {% if book %}
                          <a href="{{ url_for('book.view_book', book_id=book.id)}}" class="view-button">View</a>
                          <a href="{{ url_for('book.update_book', book_id=book.id) }}" class="update-button">Update</a>
                          <button onclick="confirmDelete('{{book.id}}')" class="delete-button">Delete</button>
                      {% else %}
                          <p>Book not found</p>
                      {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% if pagination %}
  <div class="pagination">
    {{ macros.pagination_widget(pagination, "book.view_books")}}
  </div>
  {% endif %}
  </div>

  <script>
    function confirmDelete(bookId) {
      if (confirm("Are you sure you want to delete this book?")) {
        window.location.href = "{{ url_for('book.delete_book', book_id=0) }}".replace('0', bookId);
      }
    }
  </script>
{% endblock %}
