<!-- list_books.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>List of Books</h2>
  <div class="books-container">
    {% for book in books %}
      <div class="book-card">
        <a href="#">
            <img src="{{ book.cover_image_url }}" alt="Book Cover">
        </a>
        <div class="book-details">
          <h3>{{ book.title }}</h3>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
          <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
