{% extends 'base.html' %}

{% block styles %} {{ super() }} {% endblock %}

{% block content %}
  <div class="list-container">
    <table class="list-table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Publication Date</th>
              <th>ISBN</th>
              <th>Available Copies</th>
              <th>Total Copies</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for book in books %}
              <tr>
                <td>{{ book.id }}</td>
                  <td class="cover-cell"><img src="{{ url_for('static', filename='images/login.jpg') }}" alt="Book Cover"></td>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.publication_date }}</td>
                  <td>{{ book.isbn }}</td>
                  <td>{{ book.available_copies }}</td>
                  <td>{{ book.total_copies }}</td>
                  <td class="actions">
                      {% if book %}
                          <a href="{{ url_for('book.view_book', book_id=book.id)}}" class="view-button">View</a>
                          <a href="{{ url_for('book.update_book', book_id=book.id) }}" class="update-button">Update</a>
                          <button onclick="confirmDelete('{{book.id}}')" class="delete-button">Delete</button>
                      {% else %}
                          <p>Book not found</p>
                      {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>

  <script>
    function confirmDelete(bookId) {
      if (confirm("Are you sure you want to delete this book?")) {
        window.location.href = "{{ url_for('book.delete_book', book_id=0) }}".replace('0', bookId);
      }
    }
  </script>
{% endblock %}
