.dash-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-bottom: 20px;
}

.dash-card {
    height: 80px;
    width: 250px;
    background-color: #fff;
    padding-left: 12px;
    margin: 0px auto;
}


.recents-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

