*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* base layout starts here  */

.header {
    height: 60px;
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 15px 0px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.header a {
    text-decoration: none;
    font-size: 24px;
    margin-left: 10px;
}

.header .user-profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-align: end;
}

.sidebar {
    /* margin-left: -575px; */
    z-index: 1041;
    background: rgb(255, 255, 255);

    margin-top: 0px;
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 230px;

    border-right: 1px solid rgb(232, 235, 237);
    border-top: 1px solid rgb(232, 235, 237);
}

.navbar {
    padding: 20px;
}

.navbar .navbar-links {
    list-style: none;
}

div nav ul h4,
div nav ul hr {
    margin: 18px;
}

.navbar .navbar-links li {
    margin-bottom: 20px;
}

.navbar .navbar-links li a {
    padding: 10px 15px;
    color: #212b36;

    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;

    text-decoration: none;
}

.navbar .navbar-links li a:hover {
    background-color: #007bff;
    color: white;
}

.navbar .navbar-links li a:is(:link, :active, :visited).active {
    background-color: #007bff;
    color: white;
}

.navbar .navbar-links .logout {
    position: absolute;
    bottom: 0px;
}

.page-wrapper {
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 230px;
    right: 0px;

    padding-top: 30px;
    overflow-x: scroll;
}

/* base layout ends here  */

/* dashboard starts here  */

.dash-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.dash-card {
    height: 80px;
    width: 280px;
    background-color: #fff;
    padding-left: 12px;
    margin: 0px auto;
}

.recent-members,
.recent-books,
.recent-issues,
.recent-returns {
    grid-column: span 2;
}

.view-all-link {
    text-decoration: none; /* Remove underline */
    color: #007bff; /* Blue color */
  }
  
  .view-all-link:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .view-all-link span {
    margin-left: 5px; /* Add space between "View All" text and the arrow */
  }

/* dashboard card ends here  */

/* Flashes messages section */

.flashed-messages-section {
    margin: 0px 20px 10px; 
}

.flashed-messages-div {
    font-size: 1.2rem;
    padding: 9px 22px;
    border-radius: 4px;
    margin: 0 auto;

    max-width: 1000px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.close-alert div::before,
.close-alert div::after {
    content: "";
    display: block;
    margin-top: -3px;
    height: 3px;
    width: 20px;
    background-color: black;
    border-radius: 1px;
}

.close-alert div::before {
    transform: rotate(-45deg);
}

.close-alert div::after {
    transform: rotate(45deg);
}

.flashed-messages-section .error {
    background-color: rgba(196, 28, 28, 0.589);
}

.flashed-messages-section .success {
    background-color: rgba(39, 202, 39, 0.705);
}

/* Flashed messages end here */

/* add form starts here  */

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.add-form {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 12px;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049;
}

/* add details to form ends here  */

/* card styling starts here  */

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
  
.card img {
    width: 100%;
    height: auto;
}
  
.card-details {
    padding: 20px;
}
  
.card-details p {
    margin-bottom: 10px;
}
  
.button-container {
    text-align: center;
}
  
.update-button,
.delete-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button{
    background-color: #D04848;
}

.delete-button:hover {
    background-color: #e53935;
}
  
  .update-button:hover {
    background-color: #0056b3;
}

/* card styling ends here  */

/* Pagination styles */
.pagination {
    margin-top: 20px;
    list-style: none;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li.disabled a {
    color: #999;
    pointer-events: none;
}

.pagination li.active a {
    color: #fff; 
    background-color: #007bff; 
    border-color: #007bff; 
}

.pagination li a {
    padding: 6px 12px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #007bff;
}

.pagination li a:hover {
    background-color: #f5f5f5;
}

.pagination li.disabled span {
    padding: 6px 12px;
    border: 1px solid #ddd;
    color: #999;
}

/* pagination ends here  */

/* error page handling  */

.error-page {
    text-align: center;
    margin-top: 50px;
}

.error-page .error-code {
    font-size: 72px;
    color: #dc3545; /* Red color for error code */
}

.error-page .error-message {
    font-size: 24px;
    margin-top: 20px;
}

.error-page .back-link {
    margin-top: 30px;
    font-size: 18px;
}

.error-page .back-link a {
    color: #007bff; /* Blue color for link */
    text-decoration: none;
}

.error-page .back-link a:hover {
    text-decoration: underline;
}

/* error page handling ends here  */

/* Books and Members table starts here */
.list-container {
    margin: 20px;
    padding: 16px 24px;
    background-color: #fff;
}

.list-container form input[type='search'] {
    padding: 9px 22px;
    min-width: 320px;
    border-radius: 5px 0px 0px 5px;
    margin-right: -5px;
}

.list-container form input[type='submit'] {
    padding: 9px 22px;    
    border-radius: 0px 5px 5px 0px;

}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.list-table th, .list-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.list-table.td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.cover-cell img {
    width: 50px; /* Set the width to 50px */
    height: auto;
    display: block;
    margin: 0 auto;
}

.list-table th {
    background-color: #f2f2f2;
}

.status-borrowed {
    color: #ff6347; /* Red color for borrowed status */
    font-weight: bold; /* Bold text for emphasis */
  }
  
  .status-returned {
    color: #28a745; /* Green color for returned status */
    font-weight: bold; /* Bold text for emphasis */
  }

.actions {
    width: 150px;
    white-space: nowrap; /* Prevent line breaks in the Actions column */
}

.update-button, .delete-button, .view-button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-button {
    background-color: #34446e;
}

.view-button:hover {
    background-color: #2a3c6b;
}

.update-button {
    background-color: #4caf50;
}

.update-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #D04848;
}

.delete-button:hover {
    background-color: #e53935;
}

/* Books and Members table ends here */