{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %} Transactions {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block content %}

{{ super() }}

<div class="list-container">
  <form action="{{ url_for('transaction.view_transactions') }}" method="get">
    <input type="search" name="search_term" value="{{ request.args.get('search_term', '') }}" placeholder="Borrowed or Returned">
    <input type="submit" value="Search">
  </form>

  <table class="list-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Member Name</th>
        <th>Book Title</th>
        <th>Issue Date</th>
        <th>Return Date</th>
        <th>Rent Fee</th>
        <th>Expected Return Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.member.first_name }} {{ transaction.member.last_name }}</td>
        <td>{{ transaction.book.title }}</td>
        <td>{{ transaction.issue_date.date() }}</td>
        {% if transaction.return_date %}
        <td>{{ transaction.return_date.date() }}</td>
        {% else %}
        <td>{{ transaction.return_date }}</td>
        {% endif %}
        <td>{{ transaction.rent_fee }}</td>
        <td>{{ transaction.expected_return_date.date() }}</td>
        <td class="{% if transaction.status == 'Borrowed' %}status-borrowed{% else %}status-returned{% endif %}">{{ transaction.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pagination %}
  <div class="pagination">
    {{ macros.pagination_widget(pagination, "transaction.view_transactions", search_term=search_term)}}
  </div>
  {% endif %}
</div>

{% endblock %}
