{% extends 'base.html' %}

{% import "_macros.html" as macros %}

{% block title %} View Members {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block content %}

{{ super() }}

  <div class="list-container">
    <form action="{{ url_for('member.view_members') }}" method="get">
      <input type="search" name="search_term" value="{{ request.args.get('search_term', '') }}" placeholder="Search Member">
      <input type="submit" value="Search">
    </form>
    <table class="list-table">
      <thead>
          <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Member Since</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for member in members %}
              <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.created_at.date() }}</td>
                <td class="actions">
                    {% if member %}
                        <a href="{{ url_for('member.view_member', member_id=member.id)}}" class="view-button">View</a>
                        <a href="{{ url_for('member.update_member', member_id=member.id) }}" class="update-button">Update</a>
                        <button onclick="confirmDelete('{{member.id}}')" class="delete-button">Delete</button>
                    {% else %}
                        <p>Member not found</p>
                    {% endif %}
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% if pagination %}
  <div class="pagination">
    {{ macros.pagination_widget(pagination, "book.view_books")}}
  </div>
  {% endif %}
  </div>

  <script>
    function confirmDelete(memberId) {
      if (confirm("Are you sure you want to delete this member?")) {
        window.location.href = "{{ url_for('member.delete_member', member_id=0) }}".replace('0', memberId);
      }
    }
  </script>

{% endblock %}
