{% extends 'base.html' %}

{% block title %} Internal Server Error {% endblock %}

{% block styles %} {{ super() }} {% endblock %}

{% block content %}

{{ super() }}


<div class="container error-page">

    <h1 class="error-code">404</h1>
    
    <h1 class="error-title"> Internal Server Error</h1>
    
    <h4 class="error-message">Sorry, something went wrong on the server. We're working to fix it.</h4>

    <p class="back-link"><a href="{{ url_for('home')}}">Go to Homepage</a></p>
   
</div>

{% endblock %}