{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block
styles %} {{ super() }} {% endblock %} {% block content %} {{ super() }}

<div class="dash-card-container">
  <div class="dash-card">
    <img src="{{ url_for('static', filename='/images/books.jpg')}}" alt="">
    <div>
      <h4>Books</h4>
      <p>{{ total_books }}</p>
    </div>
  </div>

  <div class="dash-card">
    <img src="{{ url_for('static', filename='/images/members.png')}}" alt="">
    <div>
      <h4>Members</h4>
      <p>{{ total_members }}</p>
    </div>
  </div>

  <div class="dash-card">
    <img src="{{ url_for('static', filename='/images/issue.png')}}" alt="">
    <div>
      <h4>Issued</h4>
      <p>{{ total_borrowed }}</p>
    </div>
  </div>

  <div class="dash-card">
    <img src="{{ url_for('static', filename='/images/return.png')}}" alt="">
    <div>
      <h4>Returned</h4>
      <p>{{ total_returned }}</p>
    </div>
  </div>

  <div class="recent-members">
    <div class="list-container">
      <div class="list-title">
        <h4>Recent Members</h4>
        <p>
          <a class="view-all-link" href="{{ url_for('member.view_members')}}">View All <span>&rarr;</span></a>
        </p>
      </div>
      <table class="list-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Joined</th>
          </tr>
        </thead>
        <tbody>
          {% for recent_member in recent_members %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>
              {{ recent_member.first_name }} {{ recent_member.last_name }}
            </td>
            <td>{{ recent_member.email }}</td>
            <td>{{ recent_member.created_at.date() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="recent-books">
    <div class="list-container">
      <div class="list-title">
        <h4>Recent Books</h4>
        <p>
          <a class="view-all-link" href="{{ url_for('book.view_books')}}">View All <span>&rarr;</span></a>
        </p>
      </div>
      <table class="list-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
          </tr>
        </thead>
        <tbody>
          {% for recent_book in recent_books %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ recent_book.title }}</td>
            <td>{{ recent_book.author }}</td>
            <td>{{ recent_book.isbn }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="recent-issues">
    <div class="list-container">
      <div class="list-title">
        <h4>Recent Issues</h4>
        <p>
          <a class="view-all-link" href="{{ url_for('transaction.view_transactions')}}">View All <span>&rarr;</span></a>
        </p>
      </div>
      <table class="list-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Member</th>
            <th>Issue Date</th>
          </tr>
        </thead>
        <tbody>
          {% for recent_issue in recent_issues %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ recent_issue.book.title }}</td>
            <td>
              {{ recent_issue.member.first_name }} {{
              recent_issue.member.last_name }}
            </td>
            <td>{{ recent_issue.issue_date.date() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="recent-returns">
    <div class="list-container">
      <div class="list-title">
        <h4>Recent Returns</h4>
        <p>
          <a class="view-all-link" href="{{ url_for('transaction.view_transactions')}}">View All <span>&rarr;</span></a>
        </p>
      </div>
      <table class="list-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Member</th>
            <th>Return Date</th>
          </tr>
        </thead>
        <tbody>
          {% for recent_return in recent_returns %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ recent_return.book.title }}</td>
            <td>
              {{ recent_return.member.first_name }} {{
              recent_return.member.last_name }}
            </td>
            <td>{{ recent_return.return_date.date() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
